.header{
    background-color: $color_dark_blue;

    .container{

        .row{
           padding: 30px 0px;
           
            .slogan{
                color: $color_white;
            }
        }
    }
}