$color_blue: #34497C;
$color_light_blue: #4B69B1;
$color_dark_blue: #253458;
$color_dark_grey: #585858;
$color_grey: #828282;
$color_yellow: #FBA702;
$color_white: #fff;

$garamond:'EB Garamond', serif;
$oswald: 'Oswald', sans-serif;
